<div class="relationship-network">
  <RelationshipNetwork::Panel
    @message={{this.message}}
    @palavra={{this.palavra}}
    @significados={{this.significados}}
    @relacionados={{this.relacionados}}
    @expressoes={{this.expressoes}}
    @citacoes={{this.citacoes}}
    @searchWord={{this.searchWord}}
  />

  <div class="relationship-network__chart">
    <div {{did-insert this.insertCytoscape}} class="relationship-network__chart__cytoscape" data-test="chart"></div>
  </div>
</div>