<div class="wrapper">
  <div>
    <Input @value={{this.word}} @placeholder="digite aqui a sua pesquisa" />
    <button type="button" {{on "click" (fn this.searchWord this.word)}} class="btn-buscar">BUSCAR</button>

    <div {{did-insert this.insertCytoscape}} class="cv" >
      {{this.error}}
    </div>
  </div>

  <div>
    <div>
      <p>Significados</p>
      {{#each this.significados as |significado|}}
        <p class="results">{{significado}}</p>
      {{/each}}
    </div>
    <div>
      <p>Relacionadas</p>
      {{#each this.relacionadas as |relacionada|}}
        <p class="results">{{relacionada.data.id}}</p>
      {{/each}}
    </div>
    {{!-- <div>
      <p>Sinonimos</p>
      {{#each this.sinonimos as |sinonimo|}}
        <p class="results">{{sinonimo.data.id}}</p>
      {{/each}}
    </div> --}}
    <div>
      <p>Citacoes</p>
      {{#each this.citacoes as |citacao|}}
        <p class="results">{{citacao}}</p>
      {{/each}}
    </div>
  </div>
</div>